<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'users')}">

<body>

<h2>Owner</h2>
<form th:object="${user}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
        <input
                th:replace="~{fragments/inputField :: input ('User Name', 'username', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Role', 'role', 'text')}" />
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit">Save User</button>
        </div>
    </div>
</form>
</body>
</html>
